.example-tree-invisible {
    display: none;
  }
  
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
  
  /*
   * This padding sets alignment of the nested nodes.
   */
.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
}


mat-grid-tile {
  border: 1px solid gray; /* Agregar un borde gris */
  padding: 10px; /* Añadir espaciado según sea necesario */
}

/* Agregar un borde gris a la clase .form dentro del mat-grid-tile */
mat-grid-tile .form {
  border: 1px solid gray; /* Agregar un borde gris */
  padding: 10px; /* Añadir espaciado según sea necesario */
}


.container{
  justify-content: center;
}